USE [Prueba]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/02/2026 08:42:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[User] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 10/02/2026 08:42:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Carlos Eduardo Negrete>
-- Create date: <10/02/2026>
-- Description:	<Insertar Usuario>
-- =============================================
CREATE PROCEDURE [dbo].[CreateUser]
  @Id INT,   
  @User nvarchar,
  @Password nvarchar,
  @Status nvarchar
AS
BEGIN
  
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Usuario (Id,[User],Password,Status) values (@Id,@User,@Password,@Status)
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 10/02/2026 08:42:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Carlos Eduardo Negrete>
-- Create date: <10/02/2026>
-- Description:	<Insertar Usuario>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteUser]
  @Id int
AS
BEGIN

	SET NOCOUNT ON;

	DELETE FROM Usuario WHERE [User]=@Id;

END
GO
/****** Object:  StoredProcedure [dbo].[ReadUser]    Script Date: 10/02/2026 08:42:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Carlos Eduardo Negrete>
-- Create date: <10/02/2026>
-- Description:	<Insertar Usuario>
-- =============================================
CREATE PROCEDURE [dbo].[ReadUser]
AS
BEGIN

	SET NOCOUNT ON;

	SELECT * FROM Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 10/02/2026 08:42:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Carlos Eduardo Negrete>
-- Create date: <10/02/2026>
-- Description:	<Insertar Usuario>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateUser]
  @Id int,
  @User nvarchar,
  @Password nvarchar,
  @Status nvarchar

AS
BEGIN

	SET NOCOUNT ON;

	UPDATE Usuario SET [User] =@User,Password =@Password,Status = @Status WHERE Id = @Id;
END
GO
